---
import Layout from "../layouts/Layout.astro";
import Board from "../components/Board.astro";
---

<Layout title="Logica - Logic circuit simulator">
	<main id="app">
		<Board />
	</main>
</Layout>
