<div id="board" class="h-screen">
    <canvas id="canvas"></canvas>
    <div class="absolute inset-x-0 top-0">
        <button class="btn btn-sm relative left-1.5 top-1.5">
            Press me UwU
        </button>
    </div>
</div>

<script>
    import {
        Application,
        FederatedPointerEvent,
        SCALE_MODES,
        Sprite,
    } from "pixi.js";

    import { Gate } from "./gate";

    const board = document.getElementById("board")!;
    const canvas = document.getElementById("canvas") as HTMLCanvasElement;

    const app = new Application({
        background: "#1099bb",
        resizeTo: board,
        view: canvas,
    });

    app.stage.eventMode = "static";
    app.stage.hitArea = app.screen;

    // const bunny = Sprite.from("https://pixijs.com/assets/bunny.png");
    // bunny.texture.baseTexture.scaleMode = SCALE_MODES.NEAREST;

    // bunny.cursor = "pointer";

    // bunny.eventMode = "static";
    // bunny.scale.set(3);

    // bunny.anchor.set(0.5);
    // bunny.x = app.screen.width / 2;
    // bunny.y = app.screen.height / 2;

    // bunny.on("pointerdown", () => {
    //     bunny.alpha = 0.5;
    //     app.stage.on("pointermove", drag);
    // });

    // function drag(event: FederatedPointerEvent) {
    //     bunny.position = bunny.parent.toLocal(event.global);
    // }

    // app.stage.on("pointerup", () => {
    //     app.stage.off("pointermove", drag);
    //     bunny.alpha = 1;
    // });

    // app.stage.addChild(bunny);

    const bunny = new Gate(app.screen.width / 2, app.screen.height / 2);
    bunny.add(app.stage);
</script>
